@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700,900');

* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 100%;
  background-color: #ffffff;
  color: black;
}

header {
  color: #ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
  @include flex_column();
  font-family: 'Playfair Display';
}

.header_content {
  .nav--menu {
    text-align: center;

    ul {
      @include flex_row();
      align-items: center;
      justify-content: center;

      li {
        padding: 5vh 2vw;
        font-size: 1.2em;

        &.logo {
          order: 4;
          position: relative;
          padding: 0;

          figure {
            background: url("../images/logo_gentleman_time.svg") no-repeat;
            background-position: center 20px;
            width: 150px;
            height: 150px;
            z-index: 2;
            position: relative;

          }

          &:before {
            display: block;
            content: "";
            background-color: white;
            width: 150px;
            height: 150px;
            transform: rotate(45deg);
            position: absolute;
            bottom: -35px;
            left: 50%;
            margin-left: -75px;
            z-index: 1;
          }
        }

        &:nth-child(2) {
          order: 1;
        }

        &:nth-child(3) {
          order: 2;
        }

        &:nth-child(4) {
          order: 3;
        }

        &:nth-child(5) {
          order: 5;
        }

        &:nth-child(6) {
          order: 6;
        }

        &:nth-child(7) {
          order: 7;
        }

        a {
          color: black;
          padding: 2vh;
        }
      }
    }
  }
}

main {
  background: url("../images/background.jpg") center no-repeat;
  background-size: cover;
  height: 84vh;
  align-items: center;
  justify-content: center;

  .main_1 {
    background-color: rgba(0,0,0,0.50);
    text-align: center;
    padding: 8vh 4vw;
    border-radius: 8px;
    animation-duration: 800ms;
    animation-name: size;
    height: 84vh;

    h1 {

      font-weight: 900;
      font-size: 6em;
      margin: auto;
      padding-top: 36vh;
      animation-duration: 3s;
      animation-name: color;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #FFFFFF;

      em {

        -webkit-text-fill-color: #ffffff;
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: #ffffff;
        font-style: normal;
        font-weight: 900;
        animation-duration: 3s;
        animation-name: color;
        font-size: 0.8em;
      }
    }

    p {
      font-weight: 300;
      font-size: 2.4em;
      margin: auto;
      line-height: 8vh;
      color: #ffffff;
    }
  }

  .products {

    background: url("../images/background_2.jpg") center no-repeat;
    background-color: rgba(0,0,0,0.50);
    background-size: cover;
    height: 100vh;
    @include flex_row();
    display: flex;
    align-items: center;
    justify-content: center;

    .main_content_1 {
      background-color: #ffffff;
      text-align: center;
      align-items: center;
      width: 800px;
      padding: 9vh 4vw 4vh;
      border-radius: 0px;
      height: 800px;
      padding-left: 8vw;
      transform: rotate(45deg);

    }
  }
}
